body.home {
  position: relative;
}

body.home::before {
  content: "";
  position: absolute;
  top: 10rem;
  left: 1.5rem;
  width: 450px;
  height: 450px;
  background-image: url(../img/cawg-logo-black.svg);
  background-size: 450px 450px;
  background-position: top left;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .body {
    display: flex;
  }
}
